/* Add this to your global styles.css or component styles */

.list-style-none {
    list-style: none;
}

.list-style-inside {
    list-style: inside;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: #f4f4f4;
    
    h1 {
        margin: 0;
        font-size: 28px;
    }
    
    p {
        font-size: 18px;
        margin-top: 5px;
    }
}


::ng-deep .p-accordion-tab.section {
    padding: 5px;
    margin: 0;

    .p-accordion-header .p-accordion-header-link.header-section {
        border-bottom: 2px solid var(--primary-700);
        color: var(--primary-700);

        h2 {
            padding: 0;
            margin: 5px 0px;
            font-size: 24px;
            color: inherit
        }
        
    }

    p {
        font-size: 16px;
    }
    
    .p-accordion-content ul {
        padding: 0;
        margin: 0;
        
        li {
            padding: 5px 0;
    
            &.title {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }
        
        }
    }

}

::ng-deep .p-accordion-tab.sub-section {
    .p-accordion-header .p-accordion-header-link.sub-header {
        color: var(--primary-300);

         h3 {
            padding: 0;
            margin: 10px 0px 0px 0px;
            font-size: 18px;
            color: inherit
        }
    }

    p {
        font-size: 16px;
    }

    .p-accordion-content ul {
        padding: 0;
        margin: 0;
        
        li {
            padding: 5px 0;
    
            &.title {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }
        
        }
    }
}

/* Main Content */
main {
    width: 60%;
    margin: 1rem auto;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 1rem;
        letter-spacing: 2px;
    }

    main {
        width: 90%;
        margin: 0 auto;
    }
}