<header class="bg-primary-900">
  <h1>{{ header }}</h1>
  <p>{{ subHeader }}</p>
</header>
<main>
  <p-accordion #tab [multiple]="true" class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
    <p-accordionTab iconPos="end" tabStyleClass="section contact-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-address-book"></i> Contact</h2>
      </ng-template>
      <ul class="list-style-none">
        <li (click)="send(user.email)" class="pointer-events-auto cursor-pointer"><i class="fa fa-envelope" aria-hidden="true"></i> {{ user.email }}</li>
        <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ user.dateOfBirth | date:'dd/MM/yyyy':'':'en-US' }}</li>
        <li (click)="dial(user.phone)" class="pointer-events-auto cursor-pointer"><i class="fa fa-phone" aria-hidden="true"></i> {{ user.phone }}</li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ user.location.label }}</li>
        <li *ngIf="user.linkedIn"><i class="fa fa-brands fa-linkedin"></i> <a class="ml-1"
            href="{{ user.linkedIn.url }}" target="_blank">{{ user.linkedIn.label }}</a></li>
      </ul>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section skill-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-cogs"></i> Skills</h2>
      </ng-template>
      <ng-container *ngIf="user.skills">
        <p class="text-justify" *ngFor="let item of user.skills | keyvalue : originalOrder">
          <strong>{{ item.key }}:</strong> {{ item.value }}
        </p>
      </ng-container>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section education-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-graduation-cap"></i> Education</h2>
      </ng-template>
      <p *ngIf="user.education" class="text-justify">{{ user.education }}</p>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section expertise-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-cog"></i> Expertise</h2>
      </ng-template>
      <ul *ngIf="user.expertise" class="list-style-none text-justify">
        <li *ngFor="let item of user.expertise | keyvalue : originalOrder"><strong>{{ item.key }}:</strong> {{
          item.value }}
        </li>
      </ul>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section work-experience-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-briefcase" aria-hidden="true"></i> Work Experience</h2>
      </ng-template>

      <p-accordion #subTabs [multiple]="true" class="w-full" expandIcon="pi pi-plus">
        <ng-container *ngFor="let item of experience; trackBy: trackByIndex">
          <p-accordionTab iconPos="end" tabStyleClass="sub-section" headerStyleClass="sub-header">
            <ng-template pTemplate="header">
              <h3><span>{{ item.name }} </span><span>(({{ item.startDate | date:'MMM yyyy':'':'en-US' }} -
                  {{ item.endDate === 'now'
                  ? 'Present'
                  : (item.endDate | date:'MMM yyyy':'':'en-US') }}))</span>
              </h3>
            </ng-template>
            <ul class="list-style-none">
              <li><strong>Domain:</strong> {{ item.domain }}</li>
              <li><strong>Technologies:</strong> {{ item.technology.join(', ') }}</li>
              <li><strong>Responsibilities:</strong></li>
              <ul class="ml-2 text-justify list-style-inside">
                <li *ngFor="let res of item.responsibility">{{ res }}</li>
              </ul>
              <ng-container *ngIf="item.achievement">
                <li><strong>Achievements:</strong></li>
                <ul class="ml-2 text-justify list-style-inside">
                  <li *ngFor="let achieve of item.achievement">{{ achieve }}</li>
                </ul>
              </ng-container>
            </ul>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section previous-experience-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-history" aria-hidden="true"></i> Previous Experience</h2>
      </ng-template>
      <ul class="list-style-none">
        <li *ngFor="let item of company"><strong>{{ item.name }} ({{ item.startDate | date:'MMM yyyy':'':'en-US' }} -
            {{ item.endDate === 'now'
            ? 'Present'
            : (item.endDate | date:'MMM yyyy':'':'en-US') }})</strong> - {{ item.position }}</li>
      </ul>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section portfolio-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-cogs" aria-hidden="true"></i> Portfolio</h2>
      </ng-template>

      <p-accordion #subTabs [multiple]="true" class="w-full" expandIcon="pi pi-plus">
        <ng-container *ngFor="let item of portfolio; trackBy: trackByIndex">
          <p-accordionTab iconPos="end" tabStyleClass="sub-section" headerStyleClass="sub-header">
            <ng-template pTemplate="header">
              <h3>{{ item.name }}</h3>
            </ng-template>
            <ul class="list-style-none">
              <li class="text-justify"><strong>Description:</strong> {{ item.description }}</li>
              <li class="text-justify"><strong>Technologies Used:</strong></li>
              <ul *ngFor="let tech of item.technology" class="list-style-inside">
                <li class="text-justify">{{ tech }}</li>
              </ul>
              <ng-container *ngIf="item.highlight">
                <li class="text-justify"><strong>Highlights::</strong></li>
                <ul *ngFor="let light of item.highlight" class="list-style-inside">
                  <li class="text-justify">{{ light }}</li>
                </ul>
              </ng-container>
              <li class="text-justify"><strong>Live Demo: </strong><a href="{{ item.demo.url }}" target="_blank">{{
                  item.demo.label }}</a></li>
            </ul>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
    </p-accordionTab>

    <p-accordionTab iconPos="end" tabStyleClass="section certificate-section" headerStyleClass="header-section">
      <ng-template pTemplate="header">
        <h2><i class="fa fa-certificate" aria-hidden="true"></i> Certifications</h2>
      </ng-template>
      <ng-container *ngIf="user.certs">
        <p *ngFor="let cert of user.certs">{{ cert }}</p>
      </ng-container>
    </p-accordionTab>
  </p-accordion>
  <small class="text-xs text-right font-italic" style="float: right;">Last updated: {{ user.updatedAt | date:
    'dd/MM/yyy':'':'en-US' }}</small>
</main>